<header id="intro">
    <div class="container">
        <div class="table">
            <div class="header-text">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="white">IGO FACTURATION</h1>
                        <h3 class="light white typed">OGI Sarl vous propose la solution adaptée à vos besoins en matière de système électronique de facturation certifiée.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="cut cut-top"></div>
    <div class="container">
        <div class="row intro-tables">
            {#<div class="col-md-2">#}
            {#</div>#}
            <div class="col-md-6">
                <div class="intro-table intro-table-hover">
                    <h5 class="white heading hide-hover">Rejoignez nous maintenant</h5>
                    <div class="bottom">
                        <h4 class="white heading small-heading no-margin regular">S'inscrire et</h4>
                        <h4 class="white heading small-pt">Commencer à gérer ses factures</h4>
                        <a href="#" class="btn btn-white-fill expand">Inscription</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="intro-table intro-table-hover">
                    <h5 class="white heading hide-hover">Vous avez déjà un compte ?</h5>
                    <div class="bottom">
                        <h4 class="white heading small-heading no-margin regular">Se connecter maintenant</h4>
                        <h4 class="white heading small-pt"></h4>
                        <a href="#" class="btn btn-white-fill expand">Connexion</a>
                    </div>
                </div>
            </div>
            {#<div class="col-md-4">#}
                {#<div class="intro-table intro-table-third">#}
                    {#<h5 class="white heading">Happy Clients</h5>#}
                    {#<div class="owl-testimonials bottom">#}
                        {#<div class="item">#}
                            {#<h4 class="white heading content">I couldn't be more happy with the results!</h4>#}
                            {#<h5 class="white heading light author">Adam Jordan</h5>#}
                        {#</div>#}
                        {#<div class="item">#}
                            {#<h4 class="white heading content">I can't believe how much better I feel!</h4>#}
                            {#<h5 class="white heading light author">Greg Pardon</h5>#}
                        {#</div>#}
                        {#<div class="item">#}
                            {#<h4 class="white heading content">Incredible transformation and I feel so healthy!</h4>#}
                            {#<h5 class="white heading light author">Christina Goldman</h5>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
</section>