<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Bienvenu à AfricaBourse</title>
  <meta name="viewport" content="width=device-width"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Alegreya Sans' rel='stylesheet'>
</head>

<body >
<style type="text/css">
  body {
    font-family: 'Alegreya Sans';
    font-size: 22px;
  }
  @media only screen and (max-width: 480px) {
    img{
      width: 190px !important;
    }
  }
</style>
<div style="text-align:center;width: 50%; height: 50%; margin:auto;">
  <div style="display:block;">
    <div style="background-image: url('https://africabourse.com/bundles/afb/img/mail-image.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;">
      <br>
      <div style=" padding: 70px 30px;
        text-align: center;
        color: #000">
        <p style="color: #000;font-size:20px;">
        </p>
      </div>
    </div>

    <div style="text-align: center; padding-left: 20px; padding-right: 20px;
         font-size: 19px;
        border: 1px solid #898b8e;
        color: #605e5e;">
      <p style="text-align: left">Bonjour {{ name }} </p>
      <p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bienvenue, vous ête ici parce que vous vous ête inscrit à IGO-Facturation pour bénéficier des meilleurs fonctionnlé de facturation et de gestion de stock.
        Nous vous remercions pour la confiance que vous nous aviez porté.</p> <br/>
      Cliquer sur le bouton suivant pour vérifier votre mail et continuer...
      {#<b>une présentation de notre SGI</b>, <b>notre agrément</b>, quelques raisons de <b>préférer les FCP à l'investissement direct en bourse</b> et la <b>RIB AfricaBourse</b>.#}

      <div style="padding-left: 70px; width: 100%;">
        <p style="color: #cc3018; width: 200px; height: 30px; background-color: #1c7430; text-align: center; padding: 20px;
        font-weight: bolder;"><a href="{{ url }}" style="color: #FFFFFF; text-decoration: none"><b>Confirmer votre mail</b></a></p>
      </div>

    </div>
    <div style="background-color: #CCCCCC;
        padding: 30px;
        color: #75a0ab;
        font-size: 17px;
        text-align: center;">
      <div>
        <div style="font-size:12px">{{ "now"|date("Y") }} &copy; <a href="#" style="color: #1ec1b8;">IGO-Facturation</a> | <span style="color:#44666f;font-weight:bold;text-decoration:none;"> Sènandé Tel: +229- </span>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>