<div class = "row">
    <div class="col-md-10">
        <label style="alignment: left">Factures Vente </label>
        <select class="form-control chosen-select maxSelect" name="facture_origine" id="facture_origine"
                required>
            <option value selected="selected">Sélectionnez une facture</option>
            {% for facture in facturesVente_SansAvoirs %}
                <option value="{{ facture.id }}">{{ facture.reference }}
                    {% if facture.dateFacture %}( {{ facture.dateFacture|date('d/m/Y') }} ){% endif %}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2" style="margin-top: 35px">
        <button class="btn btn-sm btn-default" onclick="ajaxFacture.getFactureByClientAll()" title="Afficher plus">Plus...</button>
    </div>
</div>
